<form action="/" method="post">
	<label for="squat">Squat</label>
	<br>
	<input type="number" name="squat" id="squat" value="270">
	<br>
	<label for="bench">Bench Press</label>
	<br>
	<input type="number" name="bench" id="bench" value="160">
	<br>
	<label for="military">Military Press</label>
	<br>
	<input type="number" name="military" id="military" value="100">
	<br>
	<label for="row">Bent-Over Row</label>
	<br>
	<input type="number" name="row" id="row" value="155">
	<br>
	<label for="deadlift">Deadlift</label>
	<br>
	<input type="number" name="deadlift" id="deadlift" value="255">
	<br>
	<input type="submit" value="Calculate">
</form>

<% if @weights %>
<table>
<% @weights.each do |key, value| %>
<tr><td><%= key.capitalize %></td></tr>
<tr>
	<th>Reps</th>
	<th>Weight</th>
</tr>
<% value.each do |x| %>
<tr>
	<td><%= x[:reps] %></td>
	<td><%= x[:weight] %></td>
</tr>
<% end %>

<% end %>
</table>
<% end %>