<form action="/" method="post">
	<label for="squat">Squat</label>
	<br>
	<input type="number" name="squat" id="squat" placeholder="lbs" step="5">
	<br>
	<label for="bench">Bench Press</label>
	<br>
	<input type="number" name="bench" id="bench" placeholder="lbs" step="5">
	<br>
	<label for="military">Military Press</label>
	<br>
	<input type="number" name="military" id="military" placeholder="lbs" step="5">
	<br>
	<label for="row">Bent-Over Row</label>
	<br>
	<input type="number" name="row" id="row" placeholder="lbs" step="5">
	<br>
	<label for="deadlift">Deadlift</label>
	<br>
	<input type="number" name="deadlift" id="deadlift" placeholder="lbs" step="5">
	<br>
	<input type="submit" value="Calculate">
</form>

<% if @weights %>
	<table class="table table-striped table-condensed">
		<% @weights.each do |key, value| %>
			<tr class="header">
				<td class="lift"><%= key.capitalize %></td>
				<td>&nbsp;</td>
			</tr>
			<tr>
				<th>Reps</th>
				<th>Weight</th>
			</tr>
			<% value.each do |x| %>
				<tr>
					<td><%= x[:reps] %></td>
					<td><%= x[:weight] %></td>
				</tr>
			<% end %>
		<% end %>
	</table>
<% end %>