input[type="number"] {
	font-size:2em;
	padding:5px;
	width:130px;
}

input[type="submit"] {
	margin-top:10px;
}

label { 
	font-size:1.4em;
}

form { 
	background-color:lightblue;
	float:left;
	padding:10px;
	width:15%;
}

.header { 
	cursor:pointer;
	font-size:2em;
}

.table {
	float:right;
	width:85%;
}